@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fraunces:wght@700;900&display=swap');

*{
	overflow-x: hidden;
}

html{
	font-size: 100%;
	box-sizing: border-box;
	background:#FFFBF8;
}

body {
	margin: 0;
	font-family: 'Fraunces', serif;
}

nav {
	display: flex;
	background-color: #3DBEFF;
	justify-content: space-between;
	padding-top: 2%;
	ul {
		width: 70%;
		margin: 0;
		justify-content: flex-end;
		margin-right: 5%;
	}
	a{
		margin: 10px 2%;
		color: white;
		text-decoration: none;
	}
}

#navBar{
	visibility: visible;
}

#logo{
	overflow-x: visible;
}

ul {
	display: flex;
	list-style: none;
	font-family: 'Barlow', sans-serif;
	margin: auto;
	padding: 0;
}

li {
	padding: 10px;
}

.currentTab{
	border-radius: 20%;
	background: white;
	color: #3DBEFF;
}

.footerLink{
	text-decoration: none;
	color:#2D7464;
}

p {
	font-family: 'Barlow', sans-serif;
	line-height: 30px;
}

.hero {
	background: url(../images/desktop/image-header.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: white;
	height: 600px;
	h1 {
		font-size: 4em;
		letter-spacing: .2em;
		
		margin: 0;
		padding-top: 40px;
	}
	img {
		margin-top: 10%;
		height: 15%;
	}
}

.flex1 {
	display: flex;
	height: 25%;
}

.flex2 {
	display: flex;
	flex-direction: row-reverse;
	height: 25%;
}

.flex3 {
	display: flex;
	flex-direction: row-reverse;
	height: 25%;
}

#ctTitle{
	color: #A4A9A9;
	letter-spacing: .4em;
	margin: 80px 0;
}

.testimonials {
	display: flex;
	height: 25%;
	margin-bottom: 50px;
	padding: 0 5%;
}

h4 {
	text-align: center;
	margin-top: 50px;
}

.textbox {
	width: 50%;
	align-self: center;
	
	h2{
		padding: 0 2.5em;
		font-weight: 900;
	}
	p{
		padding: 0 4em;
		font-weight: 600;
	}
	a{
		padding: 0 4em;
	}
}

.image {
	width: 50%;
	img {
		width: 100%;
		height: 100%;
	}
}

.picText1 {
	background: url(../images/desktop/image-graphic-design.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color: hsl(167, 40%, 24%);
	width: 50%;
}

.picText2 {
	background: url(../images/desktop/image-photography.jpg);
	background-position: center center;
	background-size: cover;
	background-repeat: no-repeat;
	text-align: center;
	color:hsl(198, 62%, 26%);
	width: 50%;
}

.text {
	width: 60%;
	margin: auto;
	margin-top: 60%;
	margin-bottom: 10%;
}

.client {
	img {
		border-radius: 50%;
		width: 20%;
	}
	h5{
		color: #A4A9A9;	
	}
	text-align: center;
	width: 30%;
	margin: auto;
}

footer {
	height: 25%;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: #90D4C5;
	color: #2D7464;
	h3{
		font-size: 1.5em;
	}
	ul{
		margin-bottom: 1%;
	}
	a:hover{
		color: white;
	}
	
}

.socialMedia img:hover {
		filter: invert(100%) grayscale(100%) saturate(100%) brightness(200%);
		cursor: pointer;
	  }

.imgRow {
	display: flex;
	img {
		width: 25%;
	}
}

.attribution {
	padding-bottom: 1%;
	font-size: 11px;
	text-align: center;
	color: #295C53;
	background-color: #90D4C5;
	a {
		color: #295C53;
	}
	a:hover{
		color: white;
	}
}

@media (max-width:850px) {
	
	#logo img{
		overflow-x: visible;
	}

	#navBar{
		visibility: hidden;
	}

	.hero h1{
		font-size: 3rem;
		text-align: center;
	}

	.flex1{
		flex-direction: column-reverse;
	}
	.flex2{
		flex-direction: column-reverse;
	}

	.flex3{
		flex-direction: column;
	}

	.textbox{
		width: 100%;
		padding: 25% 0;
	}

	.image{
		align-self: center;
		width: 100%;
	}

	.picText1{
		align-self: center;
		width: 100%;
	}

	.picText2{
		align-self: center;
		width: 100%;
	}

	.testimonials{
		flex-direction: column;
	}

	.client{
		width: 75%;
		margin-bottom: 5%;
		overflow: hidden;
	}
}